

  .App-header {
    background-color: white;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: #D93847;
    height: 250px;
  }
  
 
  header {
    display: flex;
    align-items: center;
  }

  img {
    width: 120px;
    height: 120px;
    margin-right: 20px;
  }
  
  