.App-body {
    height: 700px;
    margin-left: 50px;
  }
  
  .App-body p {
    margin-top: 50px;
    font-size: x-large;
  }
  
  button {
    margin: 10px;
    width: 50px;
    height: 30px;
    
  }
  .email {
    padding-right: 10px;
    font-size: x-large;
  }
  
  .emailInput {
    padding: 10px;
  }
  
  .password {
    padding-left: 10px;
    padding-right: 10px;
    font-size: x-large;
  }
  
  .passwordInput{
    padding: 10px;
  }
  
  /* .App-link {
    color: #61dafb;
  } */
  
  /* @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  